body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;

}

header {
    float: right;
    display: flex;
    justify-content: space-between;

}

.navbar {
}


a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

section .logo-wrapper {
    
}

